* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.card {
  border: 2px solid rgb(71, 68, 68);
  display: grid;
  width: 400px;
  margin: 20px;
  padding: 20px;
}

.navLink {
  text-decoration: none;
  color: black;
}

.country-heading-one {
  font-size: 18px;
}
