* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.nav-container {
  background-color: rgb(201, 5, 87);
  color: #fff;
  display: flex;
  padding: 10px 5px;
  font-size: 18px;
}

.settings {
  padding-left: 16rem; 
  display: flex;
  gap: 25px;
}

.Views {
  position: absolute;
  margin-left: 10rem;
  color: rgb(243, 240, 240);
}

.world-map {
  width: 100%;
  height: 190px;
  background-image: url('./assets/59-591407_world-map-png.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.search-background {
  width: 100%;
  height: 100%;
  background-color: #f11044b8;
}

.search {
  width: 80%;
  margin: 10px 30px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.search-heading {
  color: #f4f1f1;
  position: absolute;
  font-size: 21px;
  margin-left: 16rem;
  margin-top: 3rem;
}

.countries-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.card {
  width: 100%;
  padding: 20px;
  background-color: rgb(205, 1, 86);
}
.card:nth-child(4n+1),
.card:nth-child(4n+4){
  background-color: #f11044b8;
} 

.navLink {
  text-decoration: none;
  color: black;
}

.image {
  width: 150px;
  height:100px;;
  object-position: center;
  object-fit: cover;
}

.image img {
  width: 100%;
  height: 100%;
}

.country-heading-one {
  margin-top: 8px;
  font-size: 14px;
  color: #fff;
}

.country-heading-two {
  color: #f7f3f3;
  font-size: 12px;
  margin-top: 6px;
}

.container {
  width: 100%;
  padding: 20px;
  background-color: rgb(205, 1, 86);
  height: 100vh;
}

.back-btn {
  margin-top: 10px;
  margin-left: 10px;
  width: 70px;
  height: 30px;
  background-color: white;
  border: none;
  border-radius: 5px;
}